EmuHawk.exe
EmuHawk.exe.config
config.ini
defctrl.json
Input Log.txt
default.tasproj

**/gamedb/**
**/dll/**
**/Movies/backup/**
**/State/**
**/SaveRAM/**
**/Palettes/**
**/shaders/**

*.nes

**/Compare/**
**/Firmware/**