EmuHawk.exe
EmuHawk.exe.config
config.ini
defctrl.json
Input Log.txt
*.tasproj
**/gamedb/**
**/dll/**
**/Movies/backup/**
**/State/**
**/SaveRAM/**
**/Palettes/**
**/shaders/**
**/overlay/**

*.nes

**/Compare/**
**/Firmware/**

**/~$*.xlsx
*.bin
*.smc
*.z64
DW4-2/
MTPO/Lua/state-archive/
